{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté avec cette adresse e-mail : {{ app.user.userIdentifier }}. <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    {% if app.user is null %}

    <h1>Connectez-vous, s'il vous plaît</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Se rappeler de moi.
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>

    {% endif %}
</form>

    {% if app.user %}

    <h2>{{ app.user.name }}</h2>
    <h2>{{ app.user.firstname }}</h2>
    <h2>{{ app.user.address }}</h2>
    <h2>{{ app.user.zipcode }} {{ app.user.city }}</h2>

    <a href="{{ path('update_user') }}">Modifier votre compte</a>
    <a href="{{ path('delete_user') }}">Supprimer votre compte</a>

    {% endif %}

    {% if app.user is null %}
    
    <a href="{{ path('register')}}">Créer votre compte</a>

    {% endif %}

    {% if app.user %}
    
    {% if app.user.comments %}

    <hr>

    <h2>Commentaires de {{ app.user.firstname }} {{ app.user.name }}</h2>

    {% for comment in app.user.comments %}
    
    <h4>Commentaires sur {{ comment.product.name}}</h4>
    <h4>Le {{ comment.date | date('d/m/Y') }}</h4>
    <p>{{ comment.content }}</p>

    <a href="{{ path('update_comment', {'id' : comment.id}) }}">Modifier votre commentaire</a>
    <a href="{{ path('delete_comment', {'id' : comment.id}) }}">Supprimer votre commentaire</a>

    {% endfor %}

    {% endif %}

    {% endif %}

{% endblock %}
