{% extends "front/base.html.twig" %}

{% block title %}Accueil du site{% endblock %}

{% block main %}

    {% for product in category.products | slice(0, 3) %}
        
        <img src="{{ asset('images/' ~ product.images[0].src) }}" alt="{{ product.images[0].alt }}" title="{{ product.images[0].title }}">
        <h2><a href="{{ path ("show_product", {'id' : product.id }) }}">{{ product.name }}</a></h2>

    {% endfor %}

{% endblock %}