{% extends "front/base.html.twig" %}

{% block main %}

<div class="container">
    <h1 class="display-6">Résultats de la recherche "{{ term }}" :</h1>
</div>

{% for product in products %}

<img src="{{ asset('media/' ~ product.image[0].src) }}" alt="{{ product.image[0].alt }}">
<p><a href="{{ path ("product_show", {'id' : product.id })}}">{{ product.name }} {{ product.price }} €</a></p>

{% endfor %}

{% endblock %}